################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PSLogging.sln
/PSLogging.pssproj.user
/PSLogging.pssproj
/.vs/PSLogging/v14/.suo
